.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
}


.section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* common */

.container {
    max-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
}

@media screen and (min-width:768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width:1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/*--------------- HEADER---------------------- */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu-list,
.address-list {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    padding: 16px 0;
    display: block;
    text-decoration: none;
}

.logo-accent {
    color: #4d5ae5;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width:768px) {
    .burger-btn {
        display: none;
    }

    .logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .menu-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .address-list {
        display: flex;
        gap: 40px;
    }

    .address {
        font-style: normal;
        display: block;
    }

    .menu-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        text-decoration: none;
        position: relative;
    }

    .menu-link.current {
        color: #404bbf;
    }

    .menu-link.current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }

    .menu-link:hover,
    .menu-link:focus {
        color: #404bbf;
    }

    .address-list {
        display: flex;
        gap: 12px;
        flex-direction: column;
    }

    .contacts-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        text-decoration: none;
    }

    .contacts-link:hover,
    .contacts-link:focus {
        color: #404bbf;
    }
}

@media screen and (min-width:1158px) {
    .logo {
        margin-right: 76px;
    }

    .address-list {
        align-items: center;
        flex-direction: row;
        gap: 40px;
    }

    .contacts-link {
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-decoration: none;
    }
}

/* MOBILE MENU */

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-menu-nav {
    margin-bottom: auto;
    width: 100%;
}

.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.11;
    text-decoration: none;
}

.mobile-menu-list {
    gap: 40px;
    display: flex;
    flex-direction: column;
}

.mobile-menu-link.current {
    color: #404bbf;
}

.mobile-menu-address {
    width: 100%;
}

.mobile-menu-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mobile-menu-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    font-style: normal;
}

.mobile-menu-address-link.color {
    color: #4d5ae5;
}

.footer-soc-list {
    display: flex;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-soc-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    color: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: #31d0aa;
}

.icon-soc {
    fill: #f4f4fd;
}

@media screen and (min-width:768px) {
    .mobile-menu {
        display: none;
    }
}

/* HERO SECTION */
.hero {
    padding: 72px 0;
    background-color: #2e2f42;
    text-align: center;
    background-image:
        linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;

}

@media (min-resolution: 2x) {
    .hero {
        background-image: url(../images/hero-mob2x.jpg);
    }
}

/* mobile title */
.hero-title {

    max-width: 216px;
    margin: 0 auto 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
    max-width: 216px;
}

/* tablet hero image1x */
@media screen and (min-width:768px) {

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-tab.jpg);
    }

    /* tablet hero image2x */

    @media (min-resolution: 2x) {
        .hero {
            background-image: url(../images/hero-tab2x.jpg);
        }
    }

    /* tablet hero title */
    .hero-title {
        font-size: 56px;
        line-height: 1.07;
    }
}

/* hero image desktop1x */
@media screen and (min-width:1158px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg);
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        margin: 0 auto 48px;
        max-width: 496px;
    }
}

/* hero image desktop2x */

@media (min-resolution: 2x) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero-desktop2x.jpg);
    }
}

.hero-button {
    min-width: 169px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

/* OUR FEATURES MOBILE */

.features {
    padding-top: 96px;
    padding-bottom: 96px;
}

.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.features-item {
    width: 100%;
}

/* mobile icon wrap */
.features-icon-wrap {
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
}

/* mobile title */
.features-item-title {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    color: #2e2f42;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
}

/* mobile text */
.features-item-text {
    font-weight: 500;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media (min-width: 768px) and (max-width: 1157px) {

    .features-list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 72px 24px;
    }

    .features-item {
        width: calc((100% - 24px) / 2);
    }

    .features-icon-wrap {
        display: none;
    }
}

/* desktop features */
@media screen and (min-width:1158px) {

    .features {
        padding: 120px 0;
    }

    .features-icon-wrap {
        display: flex;
    }

    .features-item-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        text-align: start;
    }

    .features-item {
        width: calc((100% - 72px) / 4);
    }

    .features-list {
        gap: 24px;
        display: flex;
        flex-direction: row;
    }

    .features-item-text {
        font-weight: 400;
    }
}

/* TEAM SECTION MOBILE */
.team {
    background-color: #f4f4fd;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-title,
.portfolio-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.team-list {
    display: flex;
    gap: 72px;
    flex-direction: column;
    align-items: center;
}

.team-card img {
    width: 100%;
    height: auto;
    display: block;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card-content {
    padding: 32px 16px;
}

.team-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-role {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-soc-link {
    display: flex;
    gap: 24px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: #404bbf;
}

/* team tablet */

@media screen and (min-width:768px) {
    .team {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .team-list {
        gap: 64px 24px;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
    }

    .team-list {
        gap: 64px 24px;
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
    }

    .team-card {
        width: calc((100% - 24px) / 2);
    }
}

/* team desktop */
@media screen and (min-width: 1158px) {
    .team {
        padding-left: 15px;
        padding-right: 15px;
    }

    .team-item {
        width: calc((100% - 72px) / 4);
    }

    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

    }
}

/* OUR PORTFOLIO MOBILE */

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.portfolio-item {
    width: 100%;
    background-color: #ffffff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box {
    position: relative;
    overflow: hidden;
}

.portfolio-item-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.portfolio-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-weight: 400;
}

.portfolio-card-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

/* OUR PORTFOLIO TABLET */

@media screen and (min-width: 768px) {

    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .portfolio-item {
        width: calc((100% - 24px) / 2);
    }

    /* OUR PORTFOLIO DESKTOP */
    @media screen and (min-width:1158px) {

        .portfolio-list {
            display: flex;
            gap: 48px 24px;
        }

        .portfolio-item {
            width: calc((100% - 48px) / 3);
            box-shadow: none;
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .portfolio-item:hover,
        .portfolio-item:focus-within {
            box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
                0 1px 1px 0 rgba(46, 47, 66, 0.16),
                0 1px 6px 0 rgba(46, 47, 66, 0.08);

        }

        .portfolio-item:hover .portfolio-item-text,
        .portfolio-item:focus-within .portfolio-item-text {
            transform: translateY(0);
        }

    }
}

/* FOOTER MOBILE */
.footer {
    padding: 100px 0;
    background-color: #2e2f42;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.footer-logo {
    display: block;
    margin-bottom: 16px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    line-height: 1.17;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
}

.footer-info {
    max-width: 100%;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-social-title,
.footer-subscribe-title {
    margin-bottom: 16px;
    margin-top: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    justify-content: center;
    text-align: center;
    display: flex;


}

.footer-soc-list {
    justify-content: center;
    gap: 16px;
}

.footer-subscribe {
    width: 100%;
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.footer-input-wrapper {
    display: flex;
}

.footer-form-input {
    width: 100%;
    border: 1px solid #fff;
    border-radius: 4px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding: 8px 16px;
    color: #fff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input:focus {
    border-color: #31d0aa;
}

.footer-form-input::placeholder {
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
}

.footer-form-btn {
    background: #4d5ae5;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 16px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
    background-color: #31d0aa;
}

.footer-form-icon {
    fill: #fff;
}

/* FOOTER TABLET */
@media screen and (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        gap: 72px 24px;
        padding-left: 108px;
        padding-right: 108px;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer-logo {
        text-align: left;
    }

    .footer-info,
    .footer-social {
        width: calc((100% - 24px) / 2);
        text-align: left;
    }

    .footer-subscribe {
        width: 100%;
        text-align: left;
    }

    .footer-social-title,
    .footer-subscribe-title {
        justify-content: flex-start;
        text-align: left;
    }

    .footer-soc-list {
        justify-content: flex-start;

    }

    .footer-form {
        flex-direction: row;
        justify-content: flex-start;
    }

    .footer-form-input {
        width: 264px;
    }
}

/* FOOTER DESKTOP */
@media screen and (min-width: 1158px) {
    .footer .footer-container {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
        padding-left: 15px;
        padding-right: 15px;
        gap: 0;
    }

    .footer-info {
        width: 264px;
        margin-right: 120px;
    }



    .footer-social {
        width: auto;
        margin-right: 80px;
    }

    .footer-subscribe {
        width: auto;
        margin-left: 0;
    }


    .footer-form {
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }


    .footer-form-input {
        width: 264px;
    }
}





/* MODAL */

.modal-overlay {
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.modal {
    border-radius: 4px;
    width: calc(100% - 32px);
    max-width: 288px;
    /* min-height: 623px; */
    max-height: calc(100vh - 32px);
    overflow-y: auto;
    background: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 16px 24px 16px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    line-height: 0;
    top: 24px;
    right: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus-visible {
    background-color: #404bbf;
    border-color: rgba(0, 0, 0, 0.1);
}

.modal-close:hover .icons-modal,
.modal-close:focus-visible .icons-modal {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 0;
}

.modal-icon {
    position: absolute;
    left: 16px;
    transform: translateY(-50%);
    top: 50%;
}

.icons-modal {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
    margin-bottom: 8px;
    padding: 0;
}

.modal-input-wrapper {
    position: relative;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    gap: 8px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
}

.modal-input:focus+.modal-icon {
    fill: #4D5AE5;
}


.modal-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-text-area {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4)
}

.modal-text-area:focus {
    border-color: #4d5ae5;
}

.modal-check-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 24px;
}

.modal a {
    color: #4d5ae5;
    text-decoration: underline;
}

.modal-check {
    width: 16px;
    height: 16px;
}

.modal-check-icon {
    opacity: 0;
}

.modal-check:checked+.modal-check-label .modal-check-icon {
    opacity: 1;
    fill: #ffffff;
}

.modal-check:checked+.modal-check-label span {
    background-color: #4d5ae5;
    border: none;
    fill: #fff;

}

.modal-check:checked+.modal-check-label .span-modal-check {
    background-color: #404bbf;
    border: none;
}

.span-modal-check {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.modal-submit-btn {
    display: block;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border: none;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    margin-top: 24px;

    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus-visible {
    background-color: #404bbf;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}

/* MODAL TABLET */
@media screen and (min-width: 768px) {
    .modal {
        max-width: 408px;
        padding: 72px 24px 24px;
    }

}